<robot name="depth_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 该参数指向一个深度相机的模型名 -->
    <gazebo reference="${link_name}">
        <!-- 传感器的名称 -->
        <sensor name="${link_name}_depth_camera" type="depth">
            <!-- 拍摄帧率 -->
            <update_rate>20</update_rate>
            <camera>
                <horizontal_fov>1.047198</horizontal_fov>
                <!-- 分辨率 -->
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <!-- 摄像头观测距离 -->
                <clip>
                    <near>0.05</near>
                    <far>3</far>
                </clip>
            </camera>
            <plugin name="${link_name}_controller" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.2</baseline>
                <alwaysOn>true</alwaysOn>
                <updateRate>1.0</updateRate>
                <!-- 为普通相机和深度相机定义将要发布的rostopic -->
                <cameraName>${camera_name}_ir</cameraName>
                <imageTopicName>/${camera_name}/color/image_raw</imageTopicName>
                <cameraInfoTopicName>/${camera_name}/color/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/${camera_name}/depth/image_raw</depthImageTopicName>
                <depthImageInfoTopicName>/${camera_name}/depth/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>/${camera_name}/depth/points</pointCloudTopicName>
                <!-- 和reference相同，都是指向小车中定一个摄像头连杆link -->
                <frameName>${frame_name}</frameName>
                <pointCloudCutoff>0.5</pointCloudCutoff>
                <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
                <distortionK1>0.00000001</distortionK1>
                <distortionK2>0.00000001</distortionK2>
                <distortionK3>0.00000001</distortionK3>
                <distortionT1>0.00000001</distortionT1>
                <distortionT2>0.00000001</distortionT2>
                <CxPrime>0</CxPrime>
                <Cx>0</Cx>
                <Cy>0</Cy>
                <focalLength>0</focalLength>
                <hackBaseline>0</hackBaseline>
            </plugin>
        </sensor>
    </gazebo>
</robot>