<robot name="laser" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- hokuyo -->
    <!-- TODO 该参数指向一个激光雷达的模型名 -->
    <gazebo reference="hokuyo_link">
        <!-- 有两种激光雷达：gpu_ray 和 lay，这里使用 gpu_ray -->
        <sensor type="gpu_ray" name="head_hokuyo_sensor">
            <!-- 设置偏移量和倾斜弧度，作用与link中的origin标签相同 -->
            <pose>0 0 0 0 0 0</pose>
            <!-- 激光雷达射线是否可视化 -->
            <visualize>true</visualize>
            <!-- 激光雷达更新频率，Hz -->
            <update_rate>20</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <!-- 激光雷达旋转一周发射多少条射线，360*2，意味着平均2条/度 -->
                        <samples>720</samples>
                        <!-- 每1条射线有一条是测距的，"2"则表示每2条射线有一条是测距 -->
                        <resolution>1</resolution>
                        <!-- 雷达测量范围，单位为弧度，-90 ~ +90 -->
                        <min_angle>-1.570796</min_angle>
                        <max_angle>1.570796</max_angle>
                    </horizontal>
                </scan>
                <!-- 采样间距，单位米 -->
                <range>
                    <min>0.10</min>
                    <max>30.0</max>
                    <resolution>0.01</resolution>
                </range>
                <!-- 使用高斯噪声 -->
                <noise>
                    <type>gaussian</type>
                    <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
                <!-- 发布雷达数据的topic -->
                <topicName>/rrbot/laser/scan</topicName>
                <!-- TODO 和reference相同，都是指向小车中定一个激光雷达连杆link -->
                <frameName>hokuyo_link</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>